body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
}

.header {
    height: 210px;
    width: 840px;
    /*background-color: red;*/
}

.main {
    height: 573px;
    width: 840px;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

.footer {
    height: 150px;
    width: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
    color: #FFFFFF;
}

img {
    border-style: ridge;
}

