body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
}

.header {
    height: 210px;
    width: 840px;
    display: flex;
}

.header-left {
    height: 100%;
    width: 32%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.image-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10%;
}

.label-logo {
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    margin-top: 3%;
}

.palm {
    position: absolute;
}

.header-right {
    height: 100%;
    width: 50%;
    /*background-color: blue;*/
}

.main {
    height: 573px;
    width: 840px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

.footer {
    height: 150px;
    width: 840px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    color: rgb(230,230,230);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.country {
    border:4px groove #989898;
}

label {
    color: rgb(230,230,230);
}



